body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background: #ffffff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 50px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


img {
    width: 135px;
    object-fit: cover;
    margin-left: 0;
    background: transparent;
    margin-top: -2px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: solid 2px #195A8C;
    border-radius: 100px;
    width: 400px;
    height: 32px;
    margin-top: 11px;
    margin-left: 560px;

}

#search {
    border: none;
    outline: none;
    width: 120px;
    height: 20px;
    font-size: 15px;
    text-align: center;
}

.title {
    padding: 5px;
    margin: 12px;
    font-size: 20px;
    color: #4bc1df;
    font-weight: bold;
    margin-left: -120px;
}

.chats {
    margin-right: 10px;
    margin-top: 12px;
    width: 100px;
    height: 32px;
    text-align: center;
    color: #195A8C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addJob {
    margin-right: 10px;
    margin-top: 12px;
    background-color: transparent;
    width: 100px;
    height: 32px;
    text-align: center;
    color: #195a8c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactUs,
.aboutUs {
    margin-right: 10px;
    margin-top: 12px;
    background-color: transparent;
    width: 100px;
    height: 32px;
    text-align: center;
    color: #195a8c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chats:hover,
.addJob:hover,
.aboutUs:hover,
.contactUs:hover {
    font-size: large;
}

.signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 2px solid #195A8C;
    border-radius: 100px;
    width: 120px;
    height: 32px;
    margin-top: 11px;
    margin-left: 30px;
    cursor: pointer;
}

.Login {
    border: none;
    outline: none;
    margin-left: 1px;
    width: 110px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    color: #195A8C;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #195a8c;
    font-weight: bold;
}

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    order: 2;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #195A8C;
    margin: 6px 0;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background: #fff;
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 20px;
}

.mobile-menu a {
    padding: 10px;
    font-size: 16px;
    color: #195A8C;
    text-decoration: none;
    transition: color 0.3s;
}

.mobile-menu a:hover {
    color: #0e3a5f;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        margin: 10px 0;
    }

    .search,
    .location,
    .addJob,
    .chats,
    .aboutUs,
    .signIn,
    .Login {
        width: 100%;
        margin: 10px 0;
    }

    .ul {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
    }

    .navbar .title,
    .navbar .logo {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .navbar .ul {
        display: none;
    }

    .mobile-menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Intro */

.introImg {
    object-fit: cover;
    height: 450px;
    width: 100%;
    opacity: 50%;
}

.introText {
    display: block;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    margin-left: 30px;
    text-shadow: #000000;
    margin-top: -350px;
}

.categoriesText {
    margin-top: 110px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #195A8C;
    margin-left: 10px;
}

.categoriesLine {
    margin-top: -15px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    margin-left: 120px;
    row-gap: 20px;
}

.categoryImg,
.categoryText {
    cursor: pointer;
}

.categoryText {
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #195A8C;
}

.moreCategoriesButton {
    border: none;
    outline: none;
    background: transparent;
    border: solid 2px;
    border-radius: 25px;
    width: 200px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #195A8C;
    margin-left: 1200px;
    margin-top: 20px;
    cursor: pointer;
}

.categoriesPostGap {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    background-color: lightgray;
}

.recommendationsText {
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #195A8C;
    margin-left: 10px;
}

.postedJobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    margin-left: 140px;
    row-gap: 50px;
}

.postedJobImg {
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
}

.postedJobText {
    width: 250px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #195A8C;
    margin-left: 23px;
    cursor: pointer;
}

.jobLocation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    margin-left: 105px;
    cursor: pointer;
}

.jobLocationImg{
    width: 15px;
    cursor: pointer;
}

.jobLocationText{
    margin-right: 270px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #195A8C;
    margin-left: 15px;
    cursor: pointer;
}


.howItWorks{
    width: 400px;
    height: 330px;
    border: 2px solid #195A8C;
    margin-left: 250px;
    margin-top: 150px;
    border-radius: 20px;
    background-color: #1C2751;
}

.workingBox{
    width: 300px;
    height: 270px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 77px;
    margin-top: -279px;
    margin-left: 98px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.num{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 18px;
    
}

.numbers{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

.howItWorksImage{
    margin-left: 65vw;
    margin-top: -16vw;
}

.howItWorksImg{
    width: 340px;
    margin-left: -110px;
    margin-top: 5px;
}
